<div *ngIf="!showLoadingSpinner" class="window">
    <div *transloco="let t read 'addOrEditTransaction'">
        <img src="assets/icons/close.svg" class="close" (click)="closedWindow.emit()">
        <div class="title">{{addOrEditData.useCase === 'add' ? t('addTransaction'): t('editTransaction')}}</div>
        <div class="division"></div>

        <div *ngIf="!showLoadingError" class="container">
            <div class="transaction-type spacing">
                <div class="text">{{t('type')}}:</div>
                <span [ngClass]="{selected: editingTransactionType === TransactionType.Income}"
                    (click)="changeTypeTo(TransactionType.Income)">{{t('income')}}</span>
                <span [ngClass]="{selected: editingTransactionType === TransactionType.Expense}"
                    (click)="changeTypeTo(TransactionType.Expense)">{{t('expense')}}</span>
            </div>

            <div class="transaction-date spacing">
                <div class="text">{{t('date')}}:</div>
                <input class="date-input" matInput [matDatepicker]="datepicker" [placeholder]="t('chooseADate')"
                    (dateChange)="editingDate = $event.value" [(ngModel)]="editingDate">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </div>

            <div class="transaction-title spacing">
                <div class="text">{{t('title')}}:</div>
                <input type="text" [placeholder]="t('placeholder')" [(ngModel)]="editingTitle">
            </div>

            <div class="transaction-label spacing">
                <div class="text label">{{t('label')}}:</div>

                <div class="labels-list">
                    <button (click)="addLabel()">+</button>
                    <button (click)="labelEditingMode = !labelEditingMode" class="edit-button"
                        [ngClass]="{editing: labelEditingMode}">
                        <img class="edit-icon" src="assets/icons/edit.svg">
                    </button>
                    <div *ngFor="let label of (labels$ | async)" class="label"
                        [ngStyle]="{'background-color': label.color}" (click)="handleLabelClick(label.id)"
                        [ngClass]="{selected: label.id === editingLabelId}">{{label.name}}</div>
                </div>
            </div>

            <div class="transaction-price spacing">
                <div class="text">{{t('price')}}:</div>
                <input type="number" placeholder="10.00" min="0" [(ngModel)]="editingPrice" (keyup.enter)="saveTransaction()">
                <span class="euro">€</span>
            </div>

            <button class="save" (click)="saveTransaction()">
                <span *ngIf="!showSavingSpinner"> {{addOrEditData.useCase === 'add' ? t('addTransaction') :
                    t('saveChanges')}}</span>
                <app-spinner *ngIf="showSavingSpinner"></app-spinner>
            </button>

            <div *ngIf="showSavingError" class="saving-error">{{t('savingError')}}</div>
        </div>

        <div *ngIf="showLoadingError" class="loading-error">
            {{t('loadingError')}}
        </div>
    </div>
</div>

<div *ngIf="showLoadingSpinner" class="spinner">
    <app-spinner [color]="'white'"></app-spinner>
</div>

<app-add-or-edit-label *ngIf="(currentAddedOrEditedLabel |async) !== null"
    [addOrEditData]="(currentAddedOrEditedLabel |async)!" (closedWindow)="closeAddOrEditLabelWindow()">
</app-add-or-edit-label>