<div class="window">
    <img src="assets/icons/close.svg" class="close" (click)="closedWindow.emit()">
    <div class="title">{{addOrEditData.useCase === 'add' ? 'Add Transaction' : 'Edit Transaction'}}</div>
    <div class="division"></div>

    <div class="container">
        <div class="transaction-type">
            <div class="bold">Type:</div>
            <span [ngClass]="{selected: editingTransactionType === TransactionType.Income}" (click)="changeTypeTo(TransactionType.Income)">Income</span>
            <span [ngClass]="{selected: editingTransactionType === TransactionType.Expense}" (click)="changeTypeTo(TransactionType.Expense)">Expense</span>
        </div>

        <div class="transaction-date">
            <div class="bold">Date:</div>
            <span class="date">{{ editingDate ? (editingDate | getDate) : ''}}</span>
            <button>Change</button>
        </div>

        <div class="transaction-title">
            <div class="bold">Title:</div>
            <input type="text" placeholder="e.g. Pizza" [(ngModel)]="editingTitle">
        </div>

        <div class="transaction-label">
            <div class="bold">Label:</div>
            <input type="text" placeholder="e.g. Food" [(ngModel)]="editingLabel">
        </div>

        <div class="transaction-price">
            <div class="bold">Price:</div>
            <input type="number" placeholder="10.00" [(ngModel)]="editingPrice">
        </div>

        <button class="save" (click)="saveTransaction()">
            <span *ngIf="!showSpinner"> {{addOrEditData.useCase === 'add' ? 'Add' : 'Save'}} Transaction</span>
            <app-spinner *ngIf="showSpinner"></app-spinner>
        </button>
    </div>
    
</div>