.transaction {
    display: flex;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgb(64, 64, 64);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 5px 30px 5px 20px;

    .title{
        flex: 40%;
        display: flex;
        align-items: center;
    }

    .label {
        flex: 50%;
        display: flex;
        justify-content: center;
        
        .chip{
            padding: 4px 10px;
            border-radius: 10px;
            background-color: rgb(37, 167, 55);
            color: black;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }

    .price {
        flex: 15%;
        text-align: right;

        &.green{
            color: rgb(13, 163, 13);
        }

        &.red {
            color: rgb(216, 21, 21);
        }
    }

    .edit-container {
        margin-left: 10px;
        flex: 0%;
        transition: flex 1s;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .edit {
            cursor: pointer;
            transition: width 1s;
            width: 0rem;
            height: 0rem;
            background-color: rgb(55, 95, 202);
            border-radius: 2px;
        }

        .delete {
            cursor: pointer;
            transition: width 1s;
            width: 0rem;
            height: 0rem;
            background-color: rgb(150, 39, 39);
            border-radius: 2px;
        }
    }
}

.transaction:hover {
    .edit-container {
        flex: 60px;

        .edit {
            width: 1.3rem;
            height: 1.3rem;

            
        }

        .delete {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}