<div class="transaction">
    <span class="title">{{transaction.title}}</span>
    <div class="label">
        <span class="chip">{{transaction.label}}</span>
    </div>
    <span [ngClass]="transaction.transactionType === TransactionType.Expense? 'red': 'green'" class="price">
        {{transaction.transactionType === TransactionType.Expense ? '-' : '+'}}
        {{transaction.price | getPriceDecimal}}
    </span>
    <div class="edit-container">
        <img clasS="edit" (click)="editTransaction()" src="assets/icons/edit.svg">
        <img class="delete" (click)="deleteTransaction()" src="assets/icons/delete.svg">
    </div>
</div>