<div class="transaction">
    <span class="title">{{transaction.title}}</span>
    <span *ngIf="useCase === 'detail'">{{transaction.date | getDateDMY}}</span>
    <div class="label">
        <span *ngIf="transaction.labelId" class="chip" [ngStyle]="{'background-color': transaction.labelColor}">{{transaction.labelName}}</span>
    </div>
    <span [ngClass]="transaction.transactionType === TransactionType.Expense? 'red': 'green'" class="price">
        {{transaction.transactionType === TransactionType.Expense ? '-' : '+'}}
        {{transaction.price | getPriceDecimal}}
    </span>
    <div *ngIf="(breakpointMobile$ | async) === false && useCase === 'default' && !isSelectable" class="edit-container">
        <img class="edit" (click)="editTransaction()" src="assets/icons/edit.svg">
        <img class="delete" (click)="deleteTransaction()" src="assets/icons/delete.svg">
    </div>
    <div *ngIf="openEditContainer && useCase === 'default' && !isSelectable" class="edit-container-mobile">
        <img class="edit" (click)="editTransaction()" src="assets/icons/edit.svg">
        <img class="delete" (click)="deleteTransaction()" src="assets/icons/delete.svg">
    </div>
    <button *ngIf="isSelectable" (click)="onSelectChange()" class="select">
        <div *ngIf="isSelected">x</div>
        <div *ngIf="!isSelected">o</div>
    </button>
</div>