<button *ngIf="currentValue" (click)="toggleMenu()" class="top">
    <div>{{description}} {{ translateMonth ? (currentValue | getMonth) : currentValue }}</div>
    <img src="assets/icons/drop-arrow.svg" class="drop-img" [ngClass]="menuOpen ? 'up' : 'down'" />
</button>
<div *ngIf="menuOpen && valueList" (click)="menuClosed.emit()" (mouseleave)="menuClosed.emit()" class="menu">
    <span *ngFor="let value of valueList" (click)="valueChanged.emit(value)">
        {{ translateMonth ? (value | getMonth) : value }}
    </span>
</div>