:host {
    display: block;
    margin: 0 15vw;
    user-select: none;

    @media screen and (max-width: 500px) {
        margin: 0 0.5rem;
    }
  }

.heading {
    font-weight: bold;
    font-size: 3vmax;
    text-align: center;
    margin: 2rem;
}

.division {
    height: 1px;
    background-color: rgb(64, 64, 64);
}

.space {
    margin-bottom: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-around;

    .selector {
        font-size: max(1rem, 2vmin);
        cursor: pointer;
        color: rgb(255, 255, 255);

        &.selected {
            color: rgb(184, 223, 255);
        }
    }
}

app-drop-menu {
    margin: 1rem 0;
}

.year {
    z-index: 1;
}

app-monthly-overview {
    margin: 2rem 0;
}

.date-group{
    margin: 2rem 0;

    .date {
        font-size: 1rem;
    }

    .transaction {
        display: flex;
        background-color: rgb(24, 24, 24);
        border: 1px solid rgb(64, 64, 64);
        border-radius: 5px;
        margin: 0.5rem 0;
        padding: 5px 30px;

        .title{
            flex: 40%;
            display: flex;
            align-items: center;
        }

        .label {
            flex: 50%;
            display: flex;
            justify-content: center;
            
            .chip{
                padding: 4px 10px;
                border-radius: 10px;
                background-color: rgb(37, 167, 55);
                color: black;
                font-weight: bold;
                font-size: 0.8rem;
            }
        }

        .price {
            flex: 15%;
            text-align: right;

            &.green{
                color: rgb(13, 163, 13);
            }

            &.red {
                color: rgb(129, 13, 13);
            }
        }
    }
}