<div *transloco="let t read 'transactions'">
    <div class="heading">{{t('heading')}}</div>

    <app-logout></app-logout>

    <div class="division"></div>

    <div *transloco="let t read 'navbar'" class="navbar">
        <div class="selector" [ngClass]="'selected'" (click)="navigateTo('transactions')">{{t('transactions')}}</div>
        <div class="selector" (click)="navigateTo('statistics')">{{t('statistics')}}</div>
    </div>

    <div class="division space"></div>

    <div [ngClass]="{hidden: showLoadingSpinner || showLoadingError}">
        <app-drop-menu class="year" [description]="t('year')" [currentValue]="selectedYear$ | async"
            [valueList]="availableYears$ |async" (valueChanged)="changeYear($event)"></app-drop-menu>

        <app-drop-menu [translateMonth]="true" [currentValue]="selectedMonth$ | async"
            [valueList]="availableMonths$ |async" (valueChanged)="changeMonth($event)"></app-drop-menu>

        <app-monthly-overview [currentMonth]="selectedMonth$ | async" [keyMetricData]="monthlyKeyMetrics$ |async">
        </app-monthly-overview>

        <div class="selection-bar">
            <div class="item-section">
                <button (click)="addTransaction(TransactionType.Expense)" class="item">
                    <span *ngIf="(breakpointMobile$ | async) === false">{{t('add')}}</span>
                    <img *ngIf="(breakpointMobile$ | async) === true" src="assets/icons/add.svg" class="add">
                </button>

                <button (click)="showImportCSVWindow = true" class="item">
                    <span *ngIf="(breakpointMobile$ | async) === false">{{t('importCSV')}}</span>
                    <img *ngIf="(breakpointMobile$ | async) === true" src="assets/icons/import.svg"  class="import">
                </button>

                <button class="item">
                    <span *ngIf="(breakpointMobile$ | async) === false">{{t('exportCSV')}}</span>
                    <img *ngIf="(breakpointMobile$ | async) === true" src="assets/icons/export.svg"  class="export">
                </button>

                <button class="item" (click)="deleteSelectedTransactions()" [disabled]="showDeletingSpinner || (numberOfSelectedTransactions$ | async) === 0">
                    <span *ngIf="(breakpointMobile$ | async) === false && !showDeletingSpinner">{{t('delete')}}</span>
                    <img *ngIf="(breakpointMobile$ | async) === true && !showDeletingSpinner" src="assets/icons/delete.svg"  class="delete" [ngStyle]="{opacity: (numberOfSelectedTransactions$ | async) === 0 ? 0.3 : 1}">
                    <app-spinner *ngIf="showDeletingSpinner" class="spinner"></app-spinner>
                </button>
            </div>

            <div class="select-transactions">
                <span *ngIf="transactionsSelectable && (breakpointMobile$ | async) === false" class="selected-count">
                    <span >{{numberOfSelectedTransactions$ | async}}</span>
                    <span *ngIf="(numberOfSelectedTransactions$ | async)! != 1">{{t('numberOfSelectedTransactions')}}</span>
                    <span *ngIf="(numberOfSelectedTransactions$ | async)! == 1">{{t('oneSelectedTransaction')}}</span>
                </span>
                <button (click)="handleSelectableButton()" class="selectable-button">
                    <span *ngIf="(breakpointMobile$ | async) === false">{{transactionsSelectable ? t('cancel') : t('selectTransactions')}}</span>
                    <img *ngIf="(breakpointMobile$ | async) === true" [src]="'assets/icons/' + (transactionsSelectable ? 'cancel' : 'select-multiple') + '.svg'" class="select">
                </button>
                <button *ngIf="transactionsSelectable" (click)="onSelectAll()">
                    <span *ngIf="(breakpointMobile$ | async) === false">{{selectAll ? t('deselectAll') : t('selectAll')}}</span>
                    <img *ngIf="(breakpointMobile$ | async) === true" [src]="'assets/icons/' + (selectAll ? 'select-black' : 'select-empty-black') + '.svg'" class="select">
                </button>
            </div>
        </div>

        <app-import-csvfile *ngIf="showImportCSVWindow" (closedWindow)="showImportCSVWindow = false" (closedWindow)="refreshPage()"></app-import-csvfile>

        <app-add-or-edit-transaction *ngIf="(currentAddedOrEditedTransaction$ | async) !== null"
            [addOrEditData]="(currentAddedOrEditedTransaction$ |async)!"
            (closedWindow)="closeAddOrEditWindow()"></app-add-or-edit-transaction>

        <div *ngFor="let transaction of transactionsWithLabels$ | async" class="date-group">
            <div class="date">{{transaction.date | getDate }}</div>
            <app-transaction *ngFor="let transaction of transaction.transactions" [transaction]="transaction" [isSelectable]="transactionsSelectable" [isSelected]="selectAll"
                (transactionEdited)="editTransaction($event)" (transactionDeleted)="transactionDeleted()" (selectedChanged)="onSelectChanged(transaction.id, $event)">
            </app-transaction>
        </div>
    </div>

    <div *ngIf="!showLoadingSpinner && showNoTransactionsError" class="error-message">{{t('noTransactions')}}</div>

    <div *ngIf="!showLoadingSpinner && showLoadingError" class="error-message">
        <span>{{t('errorOccured')}}</span>
        <span>{{t('refreshPls')}}</span>
        <button (click)="refreshPage()">{{t('refresh')}}</button>
    </div>

    <div class="spinner" *ngIf="showLoadingSpinner"><app-spinner [color]="'white'"></app-spinner></div>

    <div class="bottom"></div>
</div>