:host {
    display: block;
    margin: 0 15vw;
    user-select: none;

    @media screen and (max-width: 500px) {
        margin: 0 0.5rem;
    }
  }

.heading {
    font-weight: bold;
    font-size: 3vmax;
    text-align: center;
    margin: 2rem;
}

.division {
    height: 1px;
    background-color: rgb(64, 64, 64);
}

.space {
    margin-bottom: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-around;

    .selector {
        font-size: max(1rem, 2vmin);
        cursor: pointer;
        color: rgb(255, 255, 255);

        &.selected {
            color: rgb(184, 223, 255);
        }
    }
}

app-drop-menu {
    margin: 1rem 0;
}

.year {
    z-index: 1;
}

app-monthly-overview {
    margin: 2rem 0;
}

.button-bar {
    display: flex;
    gap: 0.5rem;
}

.date-group{
    margin: 2rem 0;

    .date {
        font-size: 1rem;
    }


}    

app-add-or-edit-transaction {
    margin: 2rem 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}