<div *transloco="let t read 'transactions'">
    <div class="heading">{{t('heading')}}</div>

    <app-logout></app-logout>

    <div class="division"></div>

    <div *transloco="let t read 'navbar'" class="navbar">
        <div class="selector" [ngClass]="'selected'" (click)="navigateTo('transactions')">{{t('transactions')}}</div>
        <div class="selector" (click)="navigateTo('statistics')">{{t('statistics')}}</div>
    </div>

    <div class="division space"></div>

    <div *ngIf="(transactions$ | async) !== null">
        <app-drop-menu class="year" [description]="t('year')" [currentValue]="selectedYear$ | async"
            [valueList]="availableYears$ |async" (valueChanged)="changeYear($event)"></app-drop-menu>

        <app-drop-menu [translateMonth]="true" [currentValue]="selectedMonth$ | async"
            [valueList]="availableMonths$ |async" (valueChanged)="changeMonth($event)"></app-drop-menu>

        <app-monthly-overview [currentMonth]="selectedMonth$ | async" [keyMetricData]="monthlyKeyMetrics$ |async">
        </app-monthly-overview>

        <div class="button-bar">
            <button (click)="addTransaction(TransactionType.Income)">{{t('addIncome')}}</button>
            <button (click)="addTransaction(TransactionType.Expense)">{{t('addExpense')}}</button>
        </div>

        <app-add-or-edit-transaction *ngIf="(currentAddedOrEditedTransaction | async) !== null"
            [addOrEditData]="(currentAddedOrEditedTransaction |async)!"
            (closedWindow)="closeAddOrEditWindow()"></app-add-or-edit-transaction>

        <div *ngIf="(transactions$ |async) && !showSpinner">
            <div *ngFor="let groupedTransaction of transactions$ | async" class="date-group">
                <div class="date">{{groupedTransaction.date | getDate }}</div>
                <app-transaction *ngFor="let transaction of groupedTransaction.transactions" [transaction]="transaction"
                    (transactionEdited)="editTransaction($event)" (transactionDeleted)="refreshTransactions.next(null)">
                </app-transaction>
            </div>
        </div>
    </div>

    <div *ngIf="!showSpinner && (transactions$ |async)?.length === 0" class="error-message">{{t('noTransactions')}}</div>

    <div *ngIf="!showSpinner &&(transactions$ | async) === null" class="error-message">
        <span>{{t('errorOccured')}}</span>
        <span>{{t('refreshPls')}}</span>
        <button (click)="refreshPage()">{{t('refresh')}}</button>
    </div>

    <div class="spinner" *ngIf="showSpinner"><app-spinner [color]="'white'"></app-spinner></div>

    <div class="bottom"></div>
</div>