<div *transloco="let t read 'statistics'">
    <div class="heading">{{t('heading')}}</div>

    <app-logout></app-logout>

    <div class="division"></div>

    <div *transloco="let t read 'navbar'" class="navbar">
        <div class="selector" (click)="navigateTo('transactions')">{{t('transactions')}}</div>
        <div class="selector" [ngClass]="'selected'" (click)="navigateTo('statistics')">{{t('statistics')}}</div>
    </div>

    <div class="division space"></div>

    <div *ngIf="(showSpinner$ | async) === false">

        <div *ngIf="(errorMessage$ | async) === null">
            <app-drop-menu class="year" [description]="'Year'" [currentValue]="selectedYear$ | async"
                [valueList]="availableYears$ |async" (valueChanged)="changeYear($event)"></app-drop-menu>

            <app-interactive-table-chart
                [allMonthCategoryData]="categoryDataOfSelectedYearGroupedByMonth$ | async"></app-interactive-table-chart>

            <div class="drop-menu-row">
                <app-drop-menu class="pie-chart-drop-down-start-month" [description]="t('filterFrom')"
                    [translateMonth]="true" [currentValue]="pieChartSelectedStartMonth$ | async"
                    [valueList]="availableMonths$ | async"
                    (valueChanged)="changePieChartSelectedStartMonth($event)"></app-drop-menu>

                <app-drop-menu class="pie-chart-drop-down-end-month" [description]="t('filterTo')" [translateMonth]="true"
                    [currentValue]="pieChartSelectedEndMonth$ | async" [valueList]="availableMonths$ | async"
                    (valueChanged)="changePieChartSelectedEndMonth($event)"></app-drop-menu>
            </div>


            <div class="row">
                <app-chart [chartOptions]="labelSharePrice$ |async"
                    [errorMessage]="t('labelShareError')"></app-chart>
                <app-chart [chartOptions]="labelShareCount$ |async"
                    [errorMessage]="t('totalLabelShareError')"></app-chart>
            </div>

            <app-chart [chartOptions]="topExpenses$ |async" [errorMessage]="t('incomesError')"></app-chart>

            <app-chart class="incomes" [chartOptions]="topIncomes$ |async"
                [errorMessage]="t('expensesError')"></app-chart>
        </div>

        <div *ngIf="(errorMessage$ | async) === ErrorMessages.add_transactions" class="error-message">
            <span>{{t('noTransactions')}}</span>
            <span>{{t('addTransactions')}}</span>
        </div>

        <div *ngIf="(errorMessage$ | async) === ErrorMessages.add_labels" class="error-message">
            <span>{{t('noLabels')}}</span>
            <span>{{t('addLabels')}}</span>
        </div>

        <div class="error-message" *ngIf="(errorMessage$ | async) === ErrorMessages.loading_failed">
            <span>{{t('errorOccured')}}</span>
            <span> {{t('refreshPls')}}</span>
            <button (click)="refreshPage()">{{t('refresh')}}</button>
        </div>
    </div>

    <div class="spinner" *ngIf="(showSpinner$ | async) === true"><app-spinner [color]="'white'"></app-spinner></div>
</div>