<div class="window">
    <img src="assets/icons/close.svg" class="close" (click)="closedWindow.emit()">
    <div class="title">{{addOrEditData.useCase === 'add' ? 'Add Label' : 'Edit Label'}}</div>
    <div class="division"></div>

    <div class="container">
        <div class="label-name">
            <div class="bold">Name:</div>
            <input type="text" placeholder="e.g. Food" [(ngModel)]="editingName">
        </div>

        <div class="label-color">
            <div class="bold">Color:</div>
            <div class="color" [style.background]="editingColor"></div>
            <button [(colorPicker)]="editingColor" [cpOutputFormat]="'hex'">Choose</button>
            
        </div>

        <button class="save" (click)="saveLabel()">
            <span *ngIf="!showSavingSpinner">{{addOrEditData.useCase === 'add' ? 'Add Label' : 'Save Changes'}}</span>
            <app-spinner *ngIf="showSavingSpinner"></app-spinner>
        </button>
    </div>
</div>