<div *ngIf="!showLoadingSpinner" class="window">
    <div *transloco="let t read 'addOrEditLabel'">
        <img src="assets/icons/close.svg" class="close" (click)="closedWindow.emit()">
        <div class="title">{{addOrEditData.useCase === 'add' ? t('addLabel') : t('editLabel')}}</div>
        <div class="division"></div>

        <div class="container" *ngIf="!showLoadingError">
            <div class="label-name">
                <div class="text">{{t('name')}}:</div>
                <input type="text" placeholder="e.g. Food" [(ngModel)]="editingName">
            </div>

            <div class="label-color">
                <div class="text">{{t('color')}}:</div>
                <div class="color" [style.background]="editingColor"></div>
                <button [(colorPicker)]="editingColor" [cpOutputFormat]="'hex'">{{t('choose')}}</button>
            </div>

            <button [disabled]="showSavingSpinner" class="save" (click)="saveLabel()">
                <span *ngIf="!showSavingSpinner">{{addOrEditData.useCase === 'add' ? t('addLabel') :
                    t('saveChanges')}}</span>
                <app-spinner *ngIf="showSavingSpinner"></app-spinner>
            </button>

            <button *ngIf="addOrEditData.useCase === 'edit'" class="delete-label" (click)="showDeleteWindow = true">{{t('deleteLabel')}}</button>

            <div *ngIf="showSavingError" class="saving-error">{{t('savingError')}}</div>
        </div>

        <div *ngIf="showLoadingError" class="loading-error">
            {{t('loadingError')}}
        </div>       
    </div>
</div>

<div *ngIf="showLoadingSpinner" class="spinner">
    <app-spinner [color]="'white'"></app-spinner>
</div>

<div *transloco="let t read 'deleteWindow'">
    <div *ngIf="showDeleteWindow" class="delete-window-position">
        <div class="delete-window">
            <span class="delete">{{t('deleteLabel')}}</span>
            <span>{{t('deleteInfo')}}</span>

            <span *ngIf="showDeletingErrorMessage" class="error-message">{{t('deletingError')}}</span>

            <div class="row">
                <button [disabled]="showDeletingSpinner" (click)="deleteLabel()" class="yes">
                    <span *ngIf="!showDeletingSpinner">{{t('yes')}}</span>
                    <app-spinner *ngIf="showDeletingSpinner"></app-spinner>
                </button>
                <button (click)="showDeleteWindow = !showDeleteWindow" >{{t('no')}}</button>
            </div>

        </div>
    </div>
</div>