:host {
    position: fixed;
    top: -32px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    position: relative;
    width: min(80%, 1000px);
    // height: min(95%, 500px);
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(64, 64, 64);
    padding: 1rem 2rem;
    font-size: 1.2rem;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        width: 1.5rem;
        cursor: pointer;
    }

    .title {
        font-weight: bold;
        font-size: 1.3rem;

    }


    .division {
        height: 1px;
        background-color: rgb(64, 64, 64);
    }

    .container {
        margin: 0 2rem;
        flex-direction: column;
        margin: 20px 0;

        .label-name {
            display: flex;
            align-items: center;
            margin: 1rem 0;
        }

        .label-color {
            display: flex;
            align-items: center;
            margin: 1.5rem 0;
    
            .color {
                width: 27px;
                height: 27px;
                border: 1px solid white;
                border-radius: 5px;
            }
    
            button {
                width: 100px;
                margin-left: 2rem;

            }
        }

        .save {
            height: 2rem;
            margin-top:  2rem;
    
            app-spinner {
                transform: scale(0.3);
                max-width: 1rem;
            }
        }

        .saving-error {
            color: rgb(216, 21, 21);
            text-align: center;
            margin-top: 20px;
        }
    }
}

.loading-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: rgb(216, 21, 21);
}

.text {
    margin-right: 2rem;
    font-size: 1rem;
    min-width: 50px !important;
}

input::placeholder {
    color: grey;
}

@media screen and (max-width: 600px) {
    .window {
        padding: 5px 10px;
        width: 90%;
    }

    .text {
        font-weight: lighter;
        margin-right: 10px;
    }    
}